.DS_Store
.idea
*.log
tmp/

result/
.direnv/
/result

dotfiles/emacs/auto-save-list/
dotfiles/emacs/backup/
dotfiles/emacs/bookmarks
dotfiles/emacs/doom/
dotfiles/emacs/elpaca/
dotfiles/emacs/history
dotfiles/emacs/org-roam.db
dotfiles/emacs/perject/
dotfiles/emacs/transient/
dotfiles/emacs/projects
dotfiles/emacs/custom.el
dotfiles/emacs/.cache/
dotfiles/emacs/#*
dotfiles/emacs/.#*
dotfiles/emacs/eln-cache/
dotfiles/emacs/.org-id-locations
dotfiles/emacs/tramp
dotfiles/emacs/tree-sitter/
dotfiles/emacs/server/
dotfiles/emacs/dirvish/
dotfiles/emacs/tabsession.el
dotfiles/emacs/var/
