.DS_Store
.idea
*.log
tmp/

result/
.direnv/
/result

emacs/auto-save-list/
emacs/backup/
emacs/bookmarks
emacs/doom/
emacs/elpaca/
emacs/history
emacs/org-roam.db
emacs/perject/
emacs/transient/
emacs/projects
emacs/custom.el
emacs/.cache/
emacs/#*
emacs/.#*
emacs/eln-cache/
emacs/.org-id-locations
emacs/tramp
emacs/tree-sitter/
emacs/server/
emacs/dirvish/

