secrets/** filter=git-crypt diff=git-crypt
hosts/macbook/secrets/** filter=git-crypt diff=git-crypt
hosts/wsl2/secrets/** filter=git-crypt diff=git-crypt
dotfiles/emacs/secret/** filter=git-crypt diff=git-crypt
