.DS_Store
.idea
*.log
tmp/

result/
.direnv/
/result

hosts/common/dotfiles/emacs/auto-save-list/
hosts/common/dotfiles/emacs/backup/
hosts/common/dotfiles/emacs/bookmarks
hosts/common/dotfiles/emacs/doom/
hosts/common/dotfiles/emacs/elpaca/
hosts/common/dotfiles/emacs/history
hosts/common/dotfiles/emacs/org-roam.db
hosts/common/dotfiles/emacs/perject/
hosts/common/dotfiles/emacs/transient/
hosts/common/dotfiles/emacs/projects
hosts/common/dotfiles/emacs/custom.el
hosts/common/dotfiles/emacs/.cache/
hosts/common/dotfiles/emacs/#*
hosts/common/dotfiles/emacs/.#*
hosts/common/dotfiles/emacs/eln-cache/
hosts/common/dotfiles/emacs/.org-id-locations
hosts/common/dotfiles/emacs/tramp
hosts/common/dotfiles/emacs/tree-sitter/
hosts/common/dotfiles/emacs/server/
hosts/common/dotfiles/emacs/dirvish/
hosts/common/dotfiles/emacs/tabsession.el
hosts/common/dotfiles/emacs/var/
hosts/common/dotfiles/emacs/perspfile.el
hosts/common/dotfiles/emacs/.lsp-session-v1
