if ! has nix_direnv_version || ! nix_direnv_version 2.4.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.4.0/direnvrc" "sha256-XQzUAvL6pysIJnRJyR7uVpmUSZfc7LSgWQwq/4mBr1U="
fi

export GIT_AUTHOR_EMAIL="user@email.com"
export GIT_COMMITTER_EMAIL="user@email.com"
export GIT_AUTHOR_NAME="User Name"
export GIT_COMMITTER_NAME="User Name"
# export AZURE_CONFIG_DIR=$(expand_path ./.azure)
# export KUBECONFIG="$(expand_path ./kube/config)"

use flake
